body {
	background-color: #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #58579B;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-shadow-color: #58579B;
	scrollbar-arrow-color: #58579B;
	scrollbar-track-color: #FFFFFF;
}

INPUT {

}

.TextoRodape{
	font-family:Arial, Helvetica, sans-serif;
	color:#CCCCCC;
	font-size:12px;
	font-weight:bold;
	text-decoration: none;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-transform: none;
	background-color: #FFFFFF;
}

.LinkRodape{}
a:visited.LinkRodape {font-family:Arial; font-size:12px; font-weight:bold; color: #808080; text-decoration: none; background-color: #FFFFFF}
a:active.LinkRodape {font-family:Arial; font-size:12px; font-weight:bold; color: #808080; text-decoration: none; background-color: #FFFFFF}
a:link.LinkRodape {font-family:Arial; font-size:12px; font-weight:bold; color: #808080; text-decoration: none; background-color: #FFFFFF}
a:hover.LinkRodape {font-family:Arial; font-size:12px; font-weight:bold; color: #808080; text-decoration: none; background-color: #FFFFFF}

INPUT.IBusca {
	font-family: Verdana;
	background-color:#FFFFFF;
	font-size: 12px;
	line-height: normal;
	font-style: normal;
	border: thin solid #004C97;
}
INPUT.form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border : 1px solid;
	}
	
p {
	font : font-size: 12px;
}

td {
	color : #000000;
	font-weight : normal;
	font-size: 12px;
}
td.Identificacao {
	background-color : White;
	color : #3333CC;
	font-weight : bold;
	font-family : sans-serif;
	font-size : xx-small;
}

.linkEsq { }
a:visited.linkEsq{
	font-family: Verdana;
	font-size: xx-small;
	color: #000000;
	text-decoration: none;
	font : normal;
}
a:active.linkEsq {
	font-family: Verdana;
	font-size: xx-small;
	color: #FA5546;
	text-decoration: none;
	font : normal;
}
a:link.linkEsq {
	font-family: Verdana;
	font-size: xx-small;
	color: #000000;
	text-decoration: none;
	font-weight : normal;
}
a:hover.linkEsq {
	font-family: Verdana;
	font-size: xx-small;
	color: Blue;
	text-decoration: none;
	font-weight : normal;
}

.linkServico { }
a:visited.linkServico{
	font-family: Verdana;
	font-size: 8pt;
	color: #656565;
	font-weight: bold;
	text-decoration: none
}
a:active.linkServico {
	font-family: Verdana;
	font-size: 8pt;
	color: #656565;
	font-weight: bold;
	text-decoration: none
}
a:link.linkServico {
	font-family: Verdana;
	font-size: 8pt;
	color: #656565;
	font-weight: bold;
	text-decoration: none
}
a:hover.linkServico {
	font-family: Verdana;
	font-size: 8pt;
	color: Blue;
	font-weight: bold;
	text-decoration: none;
}

.linkAjuda:link {
color:#FFFFFF;
font-size:11px;
text-decoration:none;
}

.linkAjuda:visited {
color:#FFFFFF;
font-size:11px;
text-decoration:none;
}

.linkAjuda:hover {
color:#FFFFFF;
font-size:11px;
text-decoration:none;
}

.linkAjuda:active {
color:#FFFFFF;
font-size:11px;
text-decoration:none;
}

H1 {
	font-weight:bold;
}
H2 {
	color : #000099;
	font-weight : bold;
	font-size : medium;
}
H3 {
	font : bolder x-small;
	color : Green;
}

tr.cabecalho {
	background-color : #99CCFF;
	color="Navy";
	padding : 3;
	color : #000099;
	background-position: center;
	text-align: center;
	vertical-align: middle;
	font : xx-small;
}
tr.cabecalho2 {
	background-color : #99CCFF;
	color : #000099;
	text-align: center;
	font : bold;
	font-size : xx-small;
}
td.Esquerdo {
	background-color : #E3E3E3;
}
td.MenuEsqCab {
	color : White;
	background-color : #909090;
	text-align : left;
	vertical-align : top;
	font : bold xx-small;
	padding-bottom : 1px;
	padding-top : 1px;
	padding-left : 5px;
}
td.MenuEsq {
	color : #003399;
	background-color : #F5F5F5;
	text-align : left;
	vertical-align : top;
	font : xx-small Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-left : 5px;
	padding-bottom : 5px;
	padding-top : 5px;
}
td.TituloNoticia {
	color : #FFFFFF;
	text-align : center;
	background : #003580;
	vertical-align : middle;
	padding-bottom : 1px;
	padding-top : 1px;
}
td.TituloFederal {
	color : #FFFFFF;
	text-align : center;
	background : #483D8B;
	vertical-align : middle;
	padding-bottom : 1px;
	padding-top : 1px;
}

td.TituloServicos {
font-size:16px;
font-weight:bold;
color:#003580;
text-align:left;
background :#FFFFFF;
}

td.TituloServicos2 {
    color: #FFFFFF;
    background-color : #23488D;
	text-align : center;
	vertical-align : top;
	font : bold x-small;
	padding-left : 3px;
	padding-bottom : 3px;
	padding-top : 3px;
}
td.Servicos {
	background : White;
	padding-bottom : 3px;
	padding-top : 3px;
	padding-left : 3px;
	font : bold smaller;
}
td.Servicos1 {
	background : ;
	padding-bottom : 3px;
	padding-top : 3px;
	padding-left : 3px;
	font : bold smaller;
}
td.TituloDestaque {
	color : #FFFFFF;
	text-align : center;
	background : #185A73;
	padding-bottom : 1px;
	padding-top : 1px;
}
td.ColDir {
	text-align : center;
	vertical-align : top;
	background : #99CCCC;
	padding-bottom : 5px;
	padding-top : 5px;
}
td.Mapa {
	border-bottom : medium double #191970;
	font-size : x-small;
}
td.Mapa1 {
	border-bottom : 1px ridge #00008B;
	padding-bottom : 3px;
	padding-top : 3px;
	padding-left : 10px;
}
td.Mapa2 {
	border-right-color : #191970;
	border-right-style : groove;
	border-right-width : thin;
	vertical-align : top;
}
td.rodape {
	color : #FFFFFF;
	text-align : center;
	background : #52B7E8;
	padding-bottom : 1px;
	padding-top : 1px;
}
tr.rodape2 {
	color: #FFFFFF
	font-weight : bold;
	text-align : center;
	vertical-align : baseline;
	background : #23488D;
	font : xx-small;
}
.linkCab {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font : bold xx-small;
	color: #000000;
	text-decoration: none;
}

.linkNegrito{}
a:visited.linkNegrito {font-family:Verdana; font-size:11px; font-weight:bold; color: #000000; text-decoration: none}
a:active.linkNegrito {font-family:Verdana; font-size:11px; font-weight:bold; color: #000000; text-decoration: underline}
a:link.linkNegrito {font-family:Verdana; font-size:11px; font-weight:bold; color: #000000; text-decoration: none}
a:hover.linkNegrito {font-family:Verdana; font-size:11px; font-weight:bold; color: #000000; text-decoration: underline}

a:visited.linkCab {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold xx-small; color: #000000; text-decoration: none}
a:active.linkCab {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold xx-small; color: #000000; text-decoration: none}
a:link.linkCab {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold xx-small;; color: #000000; text-decoration: none}
a:hover.linkCab {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold xx-small; color: blue; background-color: #C0C0C0}

.link{}
a:visited.link {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold; font-size:12px; color: #214A8C; text-decoration: none; vertical-align: middle}
a:active.link{font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold; font-size:12px; color: #214A8C; text-decoration: none; vertical-align: middle}
a:link.link {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold; font-size:12px; color: #214A8C; text-decoration: none; vertical-align: middle}
a:hover.link {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold; font-size:12px; color: #008CE5; text-decoration: underline; vertical-align: middle}

.linkFederal{}
a:visited.linkFederal {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold xx-small; color: #FFFFFF; text-decoration: none}
a:active.linkFederal {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold xx-small; color: #FFFFFF; text-decoration: none}
a:link.linkFederal {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold xx-small;; color: #FFFFFF; text-decoration: none}
a:hover.linkFederal {font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font : bold xx-small; color: #FF0000; text-decoration: none}

.linkDivs_2{}
a:visited.linkDivs_2 {font-family:Verdana; font-size:11px; color: #999999; text-decoration: none}
a:active.linkDivs_2 {font-family:Verdana; font-size:11px; color: #999999; text-decoration: underline}
a:link.linkDivs_2 {font-family:Verdana; font-size:11px; color: #999999; text-decoration: none}
a:hover.linkDivs_2 {font-family:Verdana; font-size:11px; color: #999999; text-decoration: underline}

.linkDivs_4{}
a:visited.linkDivs_4 {font-family:Verdana; font-size:11px; font-weight:bold; color: #ff9900; text-decoration: none}
a:active.linkDivs_4 {font-family:Verdana; font-size:11px; font-weight:bold; color: #ff9900; text-decoration: none}
a:link.linkDivs_4 {font-family:Verdana; font-size:11px; font-weight:bold; color: #ff9900; text-decoration: none}
a:hover.linkDivs_4 {font-family:Verdana; font-size:11px; font-weight:bold; color: #ff9900; text-decoration: none}

.linkDivs_5{}
a:visited.linkDivs_5 {font-family:Verdana; font-size:9px; font-weight:bold; color: #999999; text-decoration: none}
a:active.linkDivs_5 {font-family:Verdana; font-size:9px; font-weight:bold; color: #999999; text-decoration: underline}
a:link.linkDivs_5 {font-family:Verdana; font-size:9px; font-weight:bold; color: #999999; text-decoration: none}
a:hover.linkDivs_5 {font-family:Verdana; font-size:9px; font-weight:bold; color: #999999; text-decoration: underline}

.linkDivs_6{}
a:visited.linkDivs_6 {font-family:Verdana; font-weight:lighter; font-size:11px; color: #999999; text-decoration: none}
a:active.linkDivs_6 {font-family:Verdana; font-weight:lighter; font-size:11px; color: #999999; text-decoration: none}
a:link.linkDivs_6 {font-family:Verdana; font-weight:lighter; font-size:11px; color: #999999; text-decoration: none}
a:hover.linkDivs_6 {font-family:Verdana; font-weight:lighter; font-size:11px; color: #999999; text-decoration: none}

.linkGoverno{}
a:visited.linkGoverno {font-family:Verdana; font-size:13px; font-weight:bold; color: #003580; text-decoration: none}
a:active.linkGoverno {font-family:Verdana; font-size:13px; font-weight:bold; color: #003580; text-decoration: none}
a:link.linkGoverno {font-family:Verdana; font-size:13px; font-weight:bold; color: #003580; text-decoration: none}
a:hover.linkGoverno {font-family:Verdana; font-size:13px; font-weight:bold; color: #003580; text-decoration: none}

.linkDivs_3:link {
font-family:Verdana;
font-size:13px;
color:#003580; 
text-decoration:none;
}
.linkDivs_3:visited {
font-family:Verdana; 
font-size:13px; 
color:#003580; 
text-decoration:none;
}
.linkDivs_3:hover {
font-family:Verdana; 
font-size:13px; 
color:#003580; 
text-decoration: none;
}
.linkDivs_3:active {
font-family:Verdana; 
font-size:13px; 
color:#003580; 
text-decoration: none;
}

li.Lista {
	list-style : circle;
	color : #003399;
	padding-left : 10px;
}
li.Lista2 {
	list-style : square;
	color : #003399;
	padding-left : 5px;
}
li.Lista3 {
	list-style : square;
	color : #003399;
	font-size : x-small;
}
.botao {
	color: #FFFFFF;
	background-color: #666666;
	border-color : #666666;
	font-size : 12px;
	font-family : Verdana;
	font-weight : bold;
	padding-bottom : 0.3px;
	padding-top : 0.3px;
	margin-left : auto;
	ruby-align : left;
	padding-left : 1px;
}

table.Tmapa {
	border : 1px groove #191970;
}

td.Tmapa4 {
	border-bottom : 1px ridge #00008B;
	padding-bottom : 3px;
	padding-top : 3px;
	background : #CCFFFF;
}
selecao {
	font-family : Arial;
	font-size : xx-small;
}

div.txt_menu{
font-family:Verdana;
color:#003580;
font-size:11px;
margin-bottom:20px;
}

div.menu_1{
font-family:Verdana;
color:#003580;
font-size:13px;
width:150px;
border-top:1px;
border-top-color:#ababab;
border-top-style:solid;
padding-top:3px;
padding-bottom:2px;
}

div.menu_2{
width:150px;
margin-bottom:8px;
}

div.menu_3{
width:222px;
margin-top:10px;
font-weight:bold;
float:left;
}

div.menu_4{
width:168px;
margin-top:10px;
font-weight:bold;
float:left;
}

div.inside_div {
margin-bottom:5px;
display:none;
}

span.float{
float:left;
}

img.mais{
float:right;
}

span.marinho{
font-size:13px;
}

.txt_noticias{
font-family:Verdana;
font-weight:lighter;
font-size:11px;
color:#666666;
}

.conteudo_box{
width:150px;
float:right;
}

.tit_conteudo{
font-size:16px;
font-weight:bold;
color:#003580;
font-family:Verdana;
text-decoration: none;
}

.tit_texto{
font-size:12px;
font-weight:normal;
color:black;
font-family:Verdana;
text-decoration: none;
}

.tit_descreva{
	color:#000000;
	font-size:12px;
	font-weight:normal;
	font-style: italic;
}

.txt_rodape{
font-weight:lighter;
font-family:Verdana;
font-size:9px;
color:#999999;
}

.txt_menu_light{
	font-family:Verdana;
	color:#666666;
	font-size:11px;
	font-weight:bold;
	text-decoration: none;
}

.div_mais{
display:none;
}

.div_mais_2{
display:block;
}
.tit_vermelho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.negritopadrao {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.topo_img {
	background:url(images/topo_img1.gif);
}
.topo_tit {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	font-weight:bold;
}
.noticias_divisoria {
	color:#FF9900;}
.subtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #666666;
}
